@charset "UTF-8";
/* CSS Document */
html {
	font-family:sans-serif;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	font-size:12px;
	-webkit-tap-highlight-color:rgba(0,0,0,0)
}
body {
	margin:0;
	padding:0;
	font-family:"Microsoft YaHei Font","微软雅黑";
	font-size:12px;
	line-height:1.42857143;
	color:#333;
	background-color:#fff;
	behavior: url(js/csshover.htc);
}


*,a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var {
	margin: 0;
	padding: 0;
}
*form{
	vertical-align: middle;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
	display:block
}
audio,canvas,progress,video {
	display:inline-block;
	vertical-align:baseline
}
input[type="submit"]{
	border: 0;
}
audio:not([controls]) {
	display:none;
	height:0
}
input,button,img,textarea{
	outline: none;
}
[hidden],template {
	display:none
}
a,a:link {
	background-color:transparent;
	color:#333;
	text-decoration:none;
}
a:active,a:hover,a:focus {
	outline:0;
	color:#fff
	text-decoration:none
}
abbr[title] {
	border-bottom:1px dotted
}
b,strong {
	font-weight:bold
}
dfn {
	font-style:italic
}
h1 {
	margin:.67em 0;
	font-size:2em
}
mark {
	color:#000;
	background:#ff0
}
small {
	font-size:80%
}
sub,sup {
	position:relative;
	font-size:75%;
	line-height:0;
	vertical-align:baseline
}
sup {
	top:-.5em
}
sub {
	bottom:-.25em
}
img {
	border:0
}
svg:not(:root) {
	overflow:hidden
}
figure {
	margin:1em 40px
}
hr {
	height:0;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box
}
pre {
	overflow:auto
}
code,kbd,pre,samp {
	font-family:monospace,monospace;
	font-size:1em
}
button,input,optgroup,select,textarea {
	margin:0;
	font:inherit;
	color:inherit
}
button {
	overflow:visible
}
button,select {
	text-transform:none
}
button,html input[type="button"],input[type="reset"],input[type="submit"] {
	-webkit-appearance:button;
	cursor:pointer
}
button[disabled],html input[disabled] {
	cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner {
	padding:0;
	border:0
}
input {
	line-height:normal
}
input[type="checkbox"],input[type="radio"] {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:0
}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
	height:auto
}
input[type="search"] {
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	-webkit-appearance:textfield
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
	-webkit-appearance:none
}
fieldset {
	padding:.35em .625em .75em;
	margin:0 2px;
	border:1px solid silver
}
legend {
	padding:0;
	border:0
}
textarea {
	overflow:auto
}
optgroup {
	font-weight:bold
}
table {
	border-spacing:0;
	border-collapse:collapse
}
td,th {
	padding:0
}
* {
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
*:before,*:after {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
input,button,select,textarea {
	font-family:inherit;
	font-size:inherit;
	line-height:inherit
}
figure {
	margin:0
}
/*img {
	vertical-align:middle;
	max-width:100%;
	display:block;
	border:0
}*/
hr {
	margin-top:20px;
	margin-bottom:20px;
	border:0;
	border-top:1px solid #eee
}
[role="button"] {
	cursor:pointer
}
h1,h2,h3,h4,h5,h6 {
	font-family:inherit;
	font-weight:500;
	color:inherit;
}
h1,.h1 {
	font-size:36px
}
h2,.h2 {
	font-size:30px
}
h3,.h3 {
	font-size:24px
}
h4,.h4 {
	font-size:18px
}
h5,.h5 {
	font-size:14px
}
h6,.h6 {
	font-size:12px
}
mark {
	padding:.2em;
	background-color:#fcf8e3
}
ul,ol {
	list-style:none
}
dt,dd {
	line-height:1.42857143
}
abbr[title],abbr[data-original-title] {
	cursor:help;
	border-bottom:1px dotted #777
}
.container {
	margin-right:auto;
	margin-left:auto;
	width: 1100px;
}
.row {
	padding:0 10px;
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11{
	float:left;
	position:relative;
	min-height:1px;
}
.col-12 {
	width:100%
}
.col-11 {
	width:91.66666667%
}
.col-10 {
	width:83.33333333%
}
.col-9 {
	width:75%
}
.col-8 {
	width:66.66666667%
}
.col-7 {
	width:58.33333333%
}
.col-6 {
	width:50%
}
.col-5 {
	width:41.66666667%
}
.col-4 {
	width:33.33333333%
}
.col-3 {
	width:25%
}
.col-2 {
	width:16.65%
}
.col-1 {
	width:8.33333333%
}
table {
	background-color:transparent
}
caption {
	padding-top:8px;
	padding-bottom:8px;
	color:#777;
	text-align:left
}
th {
	text-align:left
}
fieldset {
	min-width:0;
	padding:0;
	margin:0;
	border:0
}
legend {
	display:block;
	width:100%;
	padding:0;
	margin-bottom:20px;
	font-size:21px;
	line-height:inherit;
	color:#333;
	border:0;
	border-bottom:1px solid #e5e5e5
}
label {
	display:inline-block;
	margin-bottom:5px;
}
input[type="search"] {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
input[type="radio"],input[type="checkbox"] {
	margin:4px 0 0;
	margin-top:1px \9;
	line-height:normal
}
input[type="file"] {
	display:block
}
input[type="range"] {
	display:block;
	width:100%
}
select[multiple],select[size] {
	height:auto
}
input[type="file"]:focus,input[type="radio"]:focus,input[type="checkbox"]:focus {
	outline:thin dotted;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px
}
input[type="search"] {
	-webkit-appearance:none
}
.btn {
	display:inline-block;
	padding:6px 12px;
	margin-bottom:0;
	font-size:14px;
	font-weight:normal;
	line-height:1.42857143;
	text-align:center;
	white-space:nowrap;
	vertical-align:middle;
	-ms-touch-action:manipulation;
	touch-action:manipulation;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	background-image:none;
	border:1px solid transparent;
	border-radius:4px
}
.btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus {
	outline:thin dotted;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px
}
.btn:hover,.btn:focus,.btn.focus {
	color:#333;
	text-decoration:none
}
.btn:active,.btn.active {
	background-image:none;
	outline:0;
	-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow:inset 0 3px 5px rgba(0,0,0,.125)
}
.btn.disabled,.btn[disabled],fieldset[disabled] .btn {
	pointer-events:none;
	cursor:not-allowed;
	filter:alpha(opacity=65);
	-webkit-box-shadow:none;
	box-shadow:none;
	opacity:.65
}
.btn-default {
	color:#333;
	background-color:#fff;
	border-color:#ccc
}
.btn-default:hover,.btn-default:focus,.btn-default.focus,.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default {
	color:#333;
	background-color:#e6e6e6;
	border-color:#adadad
}
.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default {
	background-image:none
}
.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled.focus,.btn-default[disabled].focus,fieldset[disabled] .btn-default.focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active {
	background-color:#fff;
	border-color:#ccc
}
.btn-default {
	color:#fff;
	background-color:#333
}

.clearfix:before,.clearfix:after,.container:before,.container:after,.container-full:before,.container-full:after,.row:before,.row:after,.nav:before,.nav:after,.navbar:before,.navbar:after {
	display:table;
	content:" "
}
.clearfix:after,.container:after,.container-full:after,.row:after,.nav:after,.navbar:after {
	clear:both
}
.pull-right,.fr {
	float:right !important
}
.pull-left,.fl {
	float:left !important
}
.hide {
	display:none !important
}
.show {
	display:block !important
}
.off-fixed {
	position:fixed
}

